.about {
  margin: 0 auto;
  padding-top: 35px;
}
@media (max-width: 991.98px) {
  .about {
    padding-top: 0px;
  }
}
@media (max-width: 390px) {
  .about {
    padding: 0px 15px;
  }
}
.about-img {
  object-fit: cover;
}
@media (max-width: 1199.98px) {
  .about-img {
    max-width: 450px;
  }
}
@media (max-width: 991.98px) {
  .about-img {
    max-width: 390px;
  }
}
@media (max-width: 767.98px) {
  .about-img {
    max-width: 290px;
  }
}
@media (max-width: 575.98px) {
  .about-img {
    max-width: 162px;
  }
}

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 63px;
  justify-content: flex-start;
  margin-left: -10px;
}
@media (max-width: 991.98px) {
  .about-header {
    gap: 45px;
    margin-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .about-header {
    gap: 36px;
  }
}

.about-title {
  font-family: "Amatic SC", sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #007AFF;
}
@media (max-width: 1199.98px) {
  .about-title {
    font-size: 76px;
  }
}
@media (max-width: 767.98px) {
  .about-title {
    font-size: 56px;
  }
}
@media (max-width: 575.98px) {
  .about-title {
    font-size: 30px;
  }
}

.about-content {
  position: relative;
  padding: 51px 40px 6px;
  border-radius: 14px;
  background: #3A98FF;
  box-shadow: 0px 4px 9.3px 0px #007AFF;
}
@media (max-width: 991.98px) {
  .about-content {
    padding: 30px 25px 15px;
    border-radius: 8px;
  }
}
@media (max-width: 575.98px) {
  .about-content {
    padding: 20px 10px 12px;
    border-radius: 8px;
  }
}
.about-content p {
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 575.98px) {
  .about-content p {
    margin-bottom: 10px;
  }
}
.about-content p span {
  display: inline;
}
@media (max-width: 767.98px) {
  .about-content p span {
    display: none;
  }
}

.about-button {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  justify-content: center;
  width: 365px;
  height: 65px;
  padding: 10px;
  font-size: 30px;
  border-radius: 14px;
  background: #fff;
  transition: 0.3s ease-in;
}
.about-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991.98px) {
  .about-button {
    width: 280px;
    height: 55px;
    font-size: 24px;
    margin: 20px auto 10px;
  }
}
@media (max-width: 575.98px) {
  .about-button {
    border-radius: 8px;
    width: 160px;
    height: 37px;
    font-size: 14px;
    margin: 20px auto 0;
  }
}

.little-white-star1 {
  position: absolute;
  fill: #fff;
  fill-opacity: 1;
  left: 1%;
  top: 70%;
  transition: transform 1s ease-in-out;
}
.little-white-star1:hover {
  transform: scale(1.4) rotate(360deg);
}
@media (max-width: 991.98px) {
  .little-white-star1 {
    transform: scale(0.5);
  }
}
@media (max-width: 575.98px) {
  .little-white-star1 {
    display: none;
  }
}

.little-white-star2 {
  position: absolute;
  fill: #fff;
  fill-opacity: 1;
  left: 8%;
  top: 71%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.little-white-star2:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@media (max-width: 991.98px) {
  .little-white-star2 {
    left: 10%;
    top: 78%;
    transform: scale(0.5);
    transform-origin: center;
    animation-name: scaleAndRotateMobile;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes scaleAndRotateMobile {
    0% {
      transform: scale(0.7) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
    }
    100% {
      transform: scale(0.7) rotate(360deg);
    }
  }
}
@media (max-width: 575.98px) {
  .little-white-star2 {
    left: 5%;
    top: 75%;
  }
}

.little-white-star3 {
  position: absolute;
  fill: #fff;
  fill-opacity: 1;
  left: 90%;
  top: 55%;
  transition: transform 1s ease-in-out;
}
.little-white-star3:hover {
  transform: scale(1.4) rotate(360deg);
}
@media (max-width: 991.98px) {
  .little-white-star3 {
    display: none;
  }
}

.little-white-star4 {
  position: absolute;
  fill: #fff;
  fill-opacity: 1;
  left: 85%;
  top: 85%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.little-white-star4:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@media (max-width: 991.98px) {
  .little-white-star4 {
    left: 87%;
    top: 70%;
    transform: scale(0.5);
    transform-origin: center;
    animation-name: scaleAndRotateMobile;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes scaleAndRotateMobile {
    0% {
      transform: scale(0.7) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
    }
    100% {
      transform: scale(0.7) rotate(360deg);
    }
  }
}
@media (max-width: 575.98px) {
  .little-white-star4 {
    top: 65%;
  }
}

.middle-blue-star1 {
  position: absolute;
  fill: #0C6CD5;
  fill-opacity: 1;
  left: 20%;
  top: 82%;
  transition: transform 1s ease-in-out;
}
.middle-blue-star1:hover {
  transform: scale(1.4) rotate(360deg);
}
@media (max-width: 991.98px) {
  .middle-blue-star1 {
    left: 80%;
    top: 80%;
    transform: scale(0.5);
  }
}
@media (max-width: 575.98px) {
  .middle-blue-star1 {
    transform: scale(0.35);
  }
}