*,
svg,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: light;
    background-color: #fbf6f6;
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
@media (max-width: 1199.98px) {
  html {
    scroll-padding-top: 30px;
  }
}
@media (max-width: 575.98px) {
  html {
    scroll-padding-top: 20px;
  }
}
@media (max-width: 389.98px) {
  html {
    scroll-padding-top: 15px;
  }
}

body {
  background-color: #fbf6f6;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: #007AFF;
  line-height: normal;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  body {
    font-size: 22px;
  }
}
@media (max-width: 575.98px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 389.98px) {
  body {
    font-size: 13px;
  }
}
body.lock {
  overflow: hidden;
}

main,
header,
footer {
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
}

header {
  padding: 0px 50px;
}
@media (max-width: 575.98px) {
  header {
    padding: 0px 20px;
  }
}

footer {
  margin-bottom: 200px;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0px 90px;
}
@media (max-width: 991.98px) {
  section {
    margin-top: 70px;
    padding: 0px 50px;
  }
}
@media (max-width: 767.98px) {
  section {
    margin-top: 50px;
    padding: 0px 40px;
  }
}
@media (max-width: 575.98px) {
  section {
    margin-top: 40px;
    padding: 0px 30px;
  }
}
@media (max-width: 389.98px) {
  section {
    margin-top: 50px;
    padding: 0px 20px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

address {
  font-style: normal;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: #fbf6f6;
  box-shadow: 0px 1px 15px #97c2f0 inset;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #97c2f0, #FFD497);
  border-radius: 5px;
  border: 1px solid #97c2f0;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #3A98FF, #FBB14E);
}

::-webkit-scrollbar-button:start:decrement {
  background: #97c2f0 url(../../img/Scrollbar-star.svg) no-repeat center;
  border-radius: 2px;
}
::-webkit-scrollbar-button:start:decrement:hover {
  background-color: #3A98FF;
}

::-webkit-scrollbar-button:end:increment {
  background: #FFD497 url(../../img/Scrollbar-star.svg) no-repeat center;
  border-radius: 2px;
}
::-webkit-scrollbar-button:end:increment:hover {
  background-color: #FBB14E;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9%;
  align-items: start;
  background-color: #007AFF;
  padding: 60px 105px 100px 140px;
  margin: 0px auto 50px;
  font-family: "Amatic SC", sans-serif;
  color: #fff;
  font-weight: 700;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1199.98px) {
  .footer {
    padding: 60px 80px 100px 80px;
  }
}
@media (max-width: 991.98px) {
  .footer {
    padding: 50px 40px 100px;
    gap: 3%;
  }
}
@media (max-width: 767.98px) {
  .footer {
    justify-content: space-around;
  }
}
@media (max-width: 575.98px) {
  .footer {
    justify-content: space-between;
    padding: 30px 30px 40px;
    gap: 0%;
  }
}
@media (max-width: 389.98px) {
  .footer {
    padding: 20px 20px 30px;
  }
}
.footer::before {
  content: "";
  background: url(../../img/footer-img.png) no-repeat;
  bottom: -12px;
  right: -20px;
  width: 538px;
  height: 124px;
  position: absolute;
}
@media (max-width: 991.98px) {
  .footer::before {
    transform: scale(0.8);
    bottom: -19px;
    right: -58px;
  }
}
@media (max-width: 575.98px) {
  .footer::before {
    transform: scale(0.6);
    bottom: -38px;
    right: -96px;
  }
}
@media (max-width: 474.98px) {
  .footer::before {
    transform: scale(0.45);
    bottom: -44px;
    right: -140px;
  }
}
@media (max-width: 389.98px) {
  .footer::before {
    transform: scale(0.34);
    bottom: -49px;
    right: -161px;
  }
}

.logo-footer, .logo-footer-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  margin-right: 37px;
}
.logo-footer img, .logo-footer-mobile img {
  transition: 0.3s ease-in;
}
@media (max-width: 767.98px) {
  .logo-footer img, .logo-footer-mobile img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 575.98px) {
  .logo-footer img, .logo-footer-mobile img {
    width: 35px;
    height: 35px;
  }
}
.logo-footer img:hover, .logo-footer-mobile img:hover {
  transform: scale(1.1);
}

@media (max-width: 767.98px) {
  .logo-footer {
    display: none;
  }
}

.logo-footer-mobile {
  display: none;
}
@media (max-width: 767.98px) {
  .logo-footer-mobile {
    display: flex;
    margin-right: 10px;
    gap: 15px;
  }
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1384.98px) {
  .contacts-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}
@media (max-width: 575.98px) {
  .contacts-wrapper {
    gap: 0px;
  }
}

.footer-titles {
  font-size: 36px;
  margin-top: 12px;
}
@media (max-width: 575.98px) {
  .footer-titles {
    font-size: 30px;
    margin-top: 0px;
  }
}

.logo-footer .footer-titles {
  margin-top: 0;
  margin-left: -10px;
}

address ul {
  list-style: none;
}

address .footer-titles {
  margin-bottom: 13px;
}
@media (max-width: 575.98px) {
  address .footer-titles {
    margin-bottom: 20px;
  }
}

.address-link {
  margin-bottom: 10px;
  font-size: 24px;
}
@media (max-width: 575.98px) {
  .address-link {
    font-size: 16px;
    margin-bottom: 19px;
  }
}
.address-link:hover {
  text-decoration: underline;
}

.footer-socials svg {
  fill: #fff;
}
@media (max-width: 575.98px) {
  .footer-socials svg {
    margin-left: -5px;
  }
}

footer .icon {
  margin-top: 22px;
  margin-right: 20px;
  fill: #fff;
  stroke: #3A98FF;
  transition: 0.3s ease-in;
}
@media (max-width: 575.98px) {
  footer .icon {
    transform: scale(0.63);
    margin-top: 7px;
    margin-right: 2px;
  }
}
footer .icon:hover, footer .icon:active {
  fill: #FBB14E;
}

.footer-button-wrapper {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}
@media (max-width: 575.98px) {
  .footer-button-wrapper {
    margin-top: -1px;
    align-items: end;
    gap: 24px;
    max-width: 45%;
  }
}

footer .button-footer {
  padding: 2px 47px;
  font-size: 44px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991.98px) {
  footer .button-footer {
    font-size: 36px;
    padding: 5px 47px;
  }
}
@media (max-width: 575.98px) {
  footer .button-footer {
    font-size: 20px;
    padding: 3px 28px;
  }
}

.footer-star1 {
  position: absolute;
  fill: #F0BB75;
  fill-opacity: 1;
  left: 85px;
  top: 75px;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.footer-star1:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@media (max-width: 1199.98px) {
  .footer-star1 {
    left: 13%;
    top: 62%;
  }
}
@media (max-width: 767.98px) {
  .footer-star1 {
    left: 3%;
    top: 6%;
  }
}
@media (max-width: 575.98px) {
  .footer-star1 {
    left: 3%;
    top: 1%;
    transform-origin: center;
    animation-name: scaleAndRotateMobile;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes scaleAndRotateMobile {
    0% {
      transform: scale(0.7) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
    }
    100% {
      transform: scale(0.7) rotate(360deg);
    }
  }
}

.footer-star2 {
  position: absolute;
  fill: #fff;
  fill-opacity: 1;
  left: 25%;
  top: 58%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.footer-star2:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@media (max-width: 767.98px) {
  .footer-star2 {
    left: 43%;
    top: 71%;
  }
}
@media (max-width: 575.98px) {
  .footer-star2 {
    left: 60%;
    top: 46%;
    transform-origin: center;
    animation-name: scaleAndRotateMobile;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes scaleAndRotateMobile {
    0% {
      transform: scale(0.7) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
    }
    100% {
      transform: scale(0.7) rotate(360deg);
    }
  }
}

.footer-star3 {
  position: absolute;
  fill: #F0BB75;
  fill-opacity: 1;
  left: 69%;
  top: 30%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.footer-star3:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@media (max-width: 1384.98px) {
  .footer-star3 {
    left: 66%;
    top: 45%;
  }
}
@media (max-width: 767.98px) {
  .footer-star3 {
    top: 58%;
  }
}
@media (max-width: 575.98px) {
  .footer-star3 {
    left: 67%;
    top: 70%;
    fill: #fff;
    transform-origin: center;
    animation-name: scaleAndRotateMobile;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes scaleAndRotateMobile {
    0% {
      transform: scale(0.7) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
    }
    100% {
      transform: scale(0.7) rotate(360deg);
    }
  }
}

.footer-star4 {
  position: absolute;
  fill: #F0BB75;
  fill-opacity: 1;
  left: 90%;
  top: 62%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.footer-star4:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@media (max-width: 575.98px) {
  .footer-star4 {
    left: 79%;
    top: 54%;
    fill: #fff;
    transform-origin: center;
    animation-name: scaleAndRotateMobile;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes scaleAndRotateMobile {
    0% {
      transform: scale(0.7) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
    }
    100% {
      transform: scale(0.7) rotate(360deg);
    }
  }
}

.footer-star5 {
  display: none;
}
@media (max-width: 575.98px) {
  .footer-star5 {
    display: block;
    position: absolute;
    fill: #fff;
    fill-opacity: 1;
    left: 87%;
    top: 74%;
    transition: transform 1s ease-in-out;
    transform-origin: center;
    animation-name: scaleAndRotateMobile;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .footer-star5:hover {
    transform: scale(1.4) rotate(360deg);
  }
  @keyframes scaleAndRotateMobile {
    0% {
      transform: scale(0.7) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
    }
    100% {
      transform: scale(0.7) rotate(360deg);
    }
  }
}