.join-title-wrapper {
  position: relative;
}

.join-title {
  font-family: "Amatic SC", sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #007AFF;
  margin-bottom: 50px;
}

.middle-blue-star4 {
  position: absolute;
  fill: #0C6CD5;
  fill-opacity: 1;
  left: 395px;
  top: 54px;
  transition: 0.3s ease-in;
}
.middle-blue-star4:hover {
  transform: scale(1.4);
}

.decor {
  position: absolute;
  top: 75px;
  right: -20px;
  width: 840px;
  height: 60px;
  border-top: 1px solid #007AFF;
  border-right: 1px solid #007AFF;
}

.dot-decor {
  position: absolute;
  top: 130px;
  right: -22px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #007AFF;
}

.swiper {
  width: 1310px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-left: -18px;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: column;
  justify-content: center;
  width: 385px !important;
  height: 378px;
  padding: 50px auto;
  text-align: center;
  color: #fff;
  border-radius: 14px;
  background: #f2c181;
  box-shadow: 0px 4px 4px 0px rgba(242, 197, 139, 0.3);
}

.swiper-slide-active {
  width: 465px !important;
  height: 442px;
  position: relative;
  bottom: 20px;
  border-radius: 14px;
  background: #F0BB75;
  box-shadow: 0px 4px 4px 0px rgba(240, 187, 117, 0.3);
}

.swiper-slide-prev, .swiper-slide-next {
  font-size: 30px;
}

.swiper-pagination {
  bottom: 0px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #0C6CD5;
}

.slide-title {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slide-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 1px;
  background-color: #fff;
}

.swiper-slide-prev .slide-title, .swiper-slide-next .slide-title {
  font-size: 30px;
  width: 385px;
}

.swiper-slide-active .slide-title {
  font-size: 32px;
  width: 420px;
}

.slide-text {
  font-size: 26px;
  max-width: 350px;
}

.text2 {
  max-width: 257px;
}

.slide-text-email {
  max-width: 350px;
  font-weight: 600;
  margin: 20px 0 20px 0;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
  font-size: 26px;
}

.swiper-slide-next .slide-text-email,
.swiper-slide-prev .slide-text-email {
  margin: 10px 0 10px 0;
  max-width: 350px;
}

.swiper-slide-active .slide-text-email {
  max-width: 420px;
}

.slide-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  justify-content: center;
  width: 306px;
  height: 65px;
  margin-top: 30px;
  font-size: 30px;
  color: #007AFF;
  background-color: #fff;
  border-radius: 14px;
}
.slide-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.email-svg {
  fill: #fff;
}
.email-svg:hover {
  fill: #97c2f0;
}