.meetings-title {
  font-family: "Amatic SC", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #F0BB75;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1199.98px) {
  .meetings-title {
    font-size: 76px;
  }
}
@media (max-width: 767.98px) {
  .meetings-title {
    font-size: 56px;
  }
}
@media (max-width: 575.98px) {
  .meetings-title {
    font-size: 30px;
  }
}
@media (max-width: 1199.98px) {
  .meetings-title {
    font-size: 56px;
  }
}
@media (max-width: 767.98px) {
  .meetings-title {
    font-size: 48px;
  }
}
@media (max-width: 575.98px) {
  .meetings-title {
    font-size: 30px;
  }
}

.meetings-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 145px;
}
@media (max-width: 1199.98px) {
  .meetings-content {
    gap: 100px;
  }
}
@media (max-width: 991.98px) {
  .meetings-content {
    gap: 50px;
  }
}
@media (max-width: 767.98px) {
  .meetings-content {
    gap: 30px;
  }
}
@media (max-width: 575.98px) {
  .meetings-content {
    flex-direction: column;
    gap: 10px;
  }
}

.meetings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: column;
  transition: 0.3s ease-in;
}
@media (max-width: 1439.98px) {
  .meetings-item {
    height: 470px;
  }
}
@media (max-width: 1199.98px) {
  .meetings-item {
    height: 430px;
  }
}
@media (max-width: 991.98px) {
  .meetings-item {
    height: 400px;
  }
}
@media (max-width: 575.98px) {
  .meetings-item {
    height: auto;
  }
}
.meetings-item p {
  text-align: center;
}
@media (max-width: 767.98px) {
  .meetings-item p {
    text-align: left;
  }
}
@media (max-width: 575.98px) {
  .meetings-item p {
    font-size: 13px;
    text-align: center;
  }
}
.meetings-item:hover {
  transform: scale(1.05);
}

.meetings-img-wrapper1,
.meetings-img-wrapper2 {
  position: relative;
}

.meetings-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
@media (max-width: 1199.98px) {
  .article-title {
    margin-top: 15px;
  }
}
@media (max-width: 991.98px) {
  .article-title {
    margin-top: 15px;
    font-size: 26px;
  }
}
@media (max-width: 575.98px) {
  .article-title {
    font-size: 18px;
  }
}
@media (max-width: 390px) {
  .article-title {
    font-size: 16px;
  }
}

.middle-blue-star2 {
  position: absolute;
  fill: #0C6CD5;
  fill-opacity: 1;
  left: 5%;
  top: 5%;
  transition: transform 1s ease-in-out;
}
.middle-blue-star2:hover {
  transform: scale(1.4) rotate(360deg);
}
@media (max-width: 767.98px) {
  .middle-blue-star2 {
    left: -2%;
    top: -2%;
    transform: scale(0.45);
  }
}
@media (max-width: 575.98px) {
  .middle-blue-star2 {
    left: 0%;
    top: 0%;
  }
}
@media (max-width: 390px) {
  .middle-blue-star2 {
    left: 2%;
    top: 2%;
  }
}

.middle-blue-star3 {
  position: absolute;
  fill: #0C6CD5;
  fill-opacity: 1;
  left: 93%;
  top: 80%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotate;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.middle-blue-star3:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@media (max-width: 767.98px) {
  .middle-blue-star3 {
    top: 75%;
    transform: scale(0.45);
    transform-origin: center;
    animation-name: scaleAndRotateMobile;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes scaleAndRotateMobile {
    0% {
      transform: scale(0.7) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
    }
    100% {
      transform: scale(0.7) rotate(360deg);
    }
  }
}
@media (max-width: 575.98px) {
  .middle-blue-star3 {
    left: 87%;
    top: 8%;
  }
}