.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  justify-content: flex-start;
  font-family: "Amatic SC", sans-serif;
  font-size: 44px;
  margin: 3px auto;
  position: relative;
}
@media (max-width: 1199.98px) {
  .nav {
    font-size: 36px;
  }
}
@media (max-width: 991.98px) {
  .nav {
    font-size: 32px;
    justify-content: space-between;
  }
}

.logo {
  transition: 0.3s ease-in;
}
.logo:hover {
  transform: scale(1.1);
}
@media (max-width: 1199.98px) {
  .logo {
    width: 100px;
  }
}
@media (max-width: 575.98px) {
  .logo {
    width: 50px;
  }
}

.menu-burger {
  display: none;
  position: fixed;
  z-index: 25;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .menu-burger {
    display: block;
    width: 30px;
    height: 20px;
    top: 35px;
    right: 20px;
  }
}
@media (max-width: 575.98px) {
  .menu-burger {
    width: 22px;
    height: 15px;
    top: 20px;
  }
}
.menu-burger span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F0BB75;
  border-radius: 4px;
  transition: 0.3s ease-in;
  transform-origin: center;
}
.menu-burger span:first-child {
  top: 0;
}
.menu-burger span:last-child {
  top: auto;
  bottom: 0;
}
.menu-burger.active span {
  transform: scale(0);
  margin-right: -20px;
}
.menu-burger.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu-burger.active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  transition: 0.3s ease-in;
}
.nav-wrapper.active {
  right: 0%;
}
@media (max-width: 991.98px) {
  .nav-wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: #fbf6f6;
    z-index: 15;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    overflow: auto;
  }
  .nav-wrapper::before, .nav-wrapper::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 150px;
    filter: blur(50px);
  }
  .nav-wrapper::before {
    top: 45%;
    left: 2%;
    background: rgba(58, 152, 255, 0.4);
  }
  .nav-wrapper::after {
    top: 15%;
    right: 5%;
    border-radius: 50px 0px 0px 0px;
    background: rgba(249, 198, 124, 0.68);
  }
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
@media (max-width: 991.98px) {
  .menu {
    flex-direction: column;
    gap: 25px;
    font-size: 40px;
  }
}
@media (max-width: 390px) {
  .menu {
    gap: 15px;
    font-size: 32px;
  }
}
.menu-item {
  transition: 0.3s ease-in;
  position: relative;
}
.menu-item:hover, .menu-item:active {
  color: #F0BB75;
  outline: none;
}
.menu-item::before {
  content: "";
  width: 0%;
  height: 2px;
  left: -5%;
  bottom: 0;
  position: absolute;
  background-color: #F0BB75;
  transition: width 0.3s ease-in-out;
  transform-origin: left;
}
.menu-item:hover::before, .menu-item:active::before {
  width: 110%;
}
.menu-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: -8px;
  left: 106%;
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="26" fill="none"%3E%3Cpath fill="%23F0BB75" d="m15 0 3.712 9.783L30 13l-11.288 3.217L15 26l-3.712-9.783L0 13l11.288-3.217L15 0Z"%3E%3C/path%3E%3C/svg%3E') no-repeat;
  background-size: contain;
  transition: 0.5s ease-in-out;
}
.menu-item:nth-child(3)::after {
  bottom: -8px;
  left: 111%;
}
.menu-item:hover::after, .menu-item:active::after {
  width: 25px;
  height: 20px;
}

.button-join {
  background-color: #F0BB75;
  color: #fff;
  padding: 5px 22px;
  border-radius: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease-in;
}
.button-join:hover, .button-join:active, .button-join:focus {
  box-shadow: 0px 4px 4px 0px #97c2f0;
  outline: none;
}

.little-blue-star30,
.little-blue-star31,
.little-blue-star32,
.little-blue-star33,
.little-blue-star34,
.little-blue-star35,
.little-blue-star36,
.little-blue-star37,
.little-blue-star38 {
  display: none;
}

.nav-wrapper.active .little-blue-star30,
.nav-wrapper.active .little-blue-star30,
.nav-wrapper.active .little-blue-star31,
.nav-wrapper.active .little-blue-star32,
.nav-wrapper.active .little-blue-star33,
.nav-wrapper.active .little-blue-star34,
.nav-wrapper.active .little-blue-star35,
.nav-wrapper.active .little-blue-star36,
.nav-wrapper.active .little-blue-star37,
.nav-wrapper.active .little-blue-star38 {
  display: block;
  transform: scale(0.5);
  z-index: 16;
}

.nav-wrapper.active .little-blue-star30 {
  position: absolute;
  fill: #007AFF;
  fill-opacity: 0.6;
  left: 9%;
  top: 8%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotateMobile;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.nav-wrapper.active .little-blue-star30:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotateMobile {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

.nav-wrapper.active .little-blue-star31 {
  position: absolute;
  fill: #007AFF;
  fill-opacity: 0.6;
  left: 5%;
  top: 40%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotateMobile;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.nav-wrapper.active .little-blue-star31:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotateMobile {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

.nav-wrapper.active .little-blue-star32 {
  position: absolute;
  fill: #007AFF;
  fill-opacity: 0.6;
  left: 4%;
  top: 80%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotateMobile;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.nav-wrapper.active .little-blue-star32:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotateMobile {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

.nav-wrapper.active .little-blue-star33 {
  position: absolute;
  fill: #007AFF;
  fill-opacity: 0.6;
  left: 61%;
  top: 42%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotateMobile;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.nav-wrapper.active .little-blue-star33:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotateMobile {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

.nav-wrapper.active .little-blue-star34 {
  position: absolute;
  fill: #007AFF;
  fill-opacity: 0.6;
  left: 85%;
  top: 68%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotateMobile;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.nav-wrapper.active .little-blue-star34:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotateMobile {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

.nav-wrapper.active .little-blue-star35 {
  position: absolute;
  fill: #F0BB75;
  fill-opacity: 0.6;
  left: 90%;
  top: 38%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotateMobile;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.nav-wrapper.active .little-blue-star35:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotateMobile {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

.nav-wrapper.active .little-blue-star36 {
  position: absolute;
  fill: #F0BB75;
  fill-opacity: 0.6;
  left: 7%;
  top: 95%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotateMobile;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.nav-wrapper.active .little-blue-star36:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotateMobile {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

.nav-wrapper.active .little-blue-star37 {
  position: absolute;
  fill: #F0BB75;
  fill-opacity: 0.6;
  left: 39%;
  top: 87%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotateMobile;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.nav-wrapper.active .little-blue-star37:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotateMobile {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

.nav-wrapper.active .little-blue-star38 {
  position: absolute;
  fill: #F0BB75;
  fill-opacity: 0.6;
  left: 69%;
  top: 80%;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation-name: scaleAndRotateMobile;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.nav-wrapper.active .little-blue-star38:hover {
  transform: scale(1.4) rotate(360deg);
}
@keyframes scaleAndRotateMobile {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}