.psychologists {
  padding-top: 55px;
  padding-bottom: 37px;
  background-color: #3A98FF;
  background-image: url(../../img/psychologists/psychologists-bgr.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
}
@media (max-width: 767.98px) {
  .psychologists {
    background-image: url(../../img/psychologists/psychologists-bgr_mob.webp);
    background-position: left;
    border-radius: 8px;
    padding: 27px 10px 37px;
  }
}
@media (max-width: 390px) {
  .psychologists {
    padding: 27px 0px 17px;
  }
}

.psychologists-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  max-width: 100%;
  justify-content: start;
  margin-bottom: 35px;
  position: relative;
}
@media (max-width: 1199.98px) {
  .psychologists-header {
    justify-content: space-evenly;
  }
}
@media (max-width: 1044.98px) {
  .psychologists-header {
    gap: 90px;
  }
}
@media (max-width: 767.98px) {
  .psychologists-header {
    gap: 12px;
    justify-content: space-between;
  }
}
@media (max-width: 575.98px) {
  .psychologists-header {
    margin-bottom: 20px;
  }
}
@media (max-width: 390px) {
  .psychologists-header {
    min-width: 102%;
    margin-left: -4px;
    margin-right: -4px;
  }
}
.psychologists-header::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: -9%;
  width: 50%;
  height: 1px;
  background-color: #fff;
}
@media (max-width: 1339.98px) {
  .psychologists-header::before {
    width: 43%;
  }
}
@media (max-width: 1199.98px) {
  .psychologists-header::before {
    width: 50%;
    left: -11%;
  }
}
@media (max-width: 1044.98px) {
  .psychologists-header::before {
    left: -15%;
  }
}
@media (max-width: 869.98px) {
  .psychologists-header::before {
    width: 38%;
  }
}
@media (max-width: 767.98px) {
  .psychologists-header::before {
    width: 140%;
  }
}

.psychologists-img1,
.psychologists-img2 {
  display: block;
  max-width: 245px;
  width: 20%;
  height: auto;
  object-fit: cover;
  margin-bottom: -13px;
}
@media (max-width: 1339.98px) {
  .psychologists-img1,
.psychologists-img2 {
    width: 16%;
    margin-bottom: -38px;
  }
}
@media (max-width: 1199.98px) {
  .psychologists-img1,
.psychologists-img2 {
    margin-bottom: -20px;
  }
}
@media (max-width: 1044.98px) {
  .psychologists-img1,
.psychologists-img2 {
    margin-bottom: -30px;
  }
}
@media (max-width: 909.98px) {
  .psychologists-img1,
.psychologists-img2 {
    margin-bottom: -38px;
  }
}
@media (max-width: 767.98px) {
  .psychologists-img1,
.psychologists-img2 {
    margin-bottom: -18px;
  }
}
@media (max-width: 575.98px) {
  .psychologists-img1,
.psychologists-img2 {
    margin-bottom: -4px;
    width: 20%;
  }
}
@media (max-width: 390px) {
  .psychologists-img1,
.psychologists-img2 {
    margin-bottom: -4px;
    width: 19%;
  }
}
@media (max-width: 344.98px) {
  .psychologists-img1,
.psychologists-img2 {
    margin-bottom: -8px;
  }
}

@media (max-width: 767.98px) {
  .psychologists-img1 {
    order: 1;
  }
}

.psychologists-img2 {
  margin-left: -120px;
}
@media (max-width: 1199.98px) {
  .psychologists-img2 {
    margin-left: -14%;
  }
}
@media (max-width: 869.98px) {
  .psychologists-img2 {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .psychologists-img2 {
    display: block;
    order: 3;
    margin-left: 0;
  }
}

.psychologists-title-wrapper {
  position: relative;
  align-self: start;
}
@media (max-width: 767.98px) {
  .psychologists-title-wrapper {
    order: 2;
  }
}

.psychologists-title {
  font-family: "Amatic SC", sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1199.98px) {
  .psychologists-title {
    font-size: 76px;
  }
}
@media (max-width: 767.98px) {
  .psychologists-title {
    font-size: 56px;
  }
}
@media (max-width: 575.98px) {
  .psychologists-title {
    font-size: 30px;
  }
}

.svg-ps-text {
  position: absolute;
  left: -100px;
  top: -20px;
}
@media (max-width: 1199.98px) {
  .svg-ps-text {
    transform: scale(0.8);
    left: -81px;
    top: -33px;
  }
}
@media (max-width: 767.98px) {
  .svg-ps-text {
    display: none;
  }
}

.psychologists-advantages {
  color: #fff;
  padding-left: 30px;
}
@media (max-width: 767.98px) {
  .psychologists-advantages {
    padding: 0 30px 0 60px;
  }
}
@media (max-width: 575.98px) {
  .psychologists-advantages {
    padding: 0 20px 0 40px;
  }
}
.psychologists-advantages li {
  padding-bottom: 5px;
}

.psychologists-button-wrapper {
  position: relative;
  margin: 43px auto 0px;
  max-width: 365px;
}
@media (max-width: 991.98px) {
  .psychologists-button-wrapper {
    max-width: 290px;
  }
}
@media (max-width: 575.98px) {
  .psychologists-button-wrapper {
    max-width: 200px;
    margin-top: 30px;
  }
}
@media (max-width: 390px) {
  .psychologists-button-wrapper {
    max-width: 160px;
    margin-top: 20px;
  }
}
.psychologists-button-wrapper .button-psychologists-section {
  display: flex;
  justify-content: center;
  text-transform: none;
  padding: 14px 78px;
  font-size: 30px;
  font-weight: 400;
  z-index: 3;
  position: relative;
}
@media (max-width: 991.98px) {
  .psychologists-button-wrapper .button-psychologists-section {
    padding: 14px 58px;
    font-size: 22px;
  }
}
@media (max-width: 575.98px) {
  .psychologists-button-wrapper .button-psychologists-section {
    padding: 12px 48px;
    font-size: 16px;
  }
}
@media (max-width: 390px) {
  .psychologists-button-wrapper .button-psychologists-section {
    padding: 10px 31px;
    font-size: 14px;
  }
}
.psychologists-button-wrapper .psychologists-decor {
  position: absolute;
  top: -13px;
  left: 7px;
  width: 345px;
  height: 91px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: rotate(-8deg);
  z-index: 2;
}
@media (max-width: 991.98px) {
  .psychologists-button-wrapper .psychologists-decor {
    width: 290px;
    height: 74px;
    top: -12px;
    left: -1px;
  }
}
@media (max-width: 575.98px) {
  .psychologists-button-wrapper .psychologists-decor {
    width: 200px;
    height: 55px;
    top: -8px;
    left: -1px;
  }
}
@media (max-width: 390px) {
  .psychologists-button-wrapper .psychologists-decor {
    display: none;
  }
}