@import "../base/vars";
@import "../base/mixin";

.hero {
  @include flex;
  margin: 35px auto 0;
  padding: 0 25px 170px 35px;
  position: relative;

  @include lg-tablet() {
    padding: 0 25px 100px 0px;
    overflow-y: visible;
  }

  @include tablet() {
    padding: 0 0 100px;
    flex-direction: column;
  }
  

  &::before,
  &::after {
    display: none;
    content: "";
    background: rgba(58, 152, 255, 0.6);
    filter: blur(50px);
    position: absolute;
    z-index: -1;

    @include lg-tablet {
      display: block;
    }
  }

  &::before {
    width: 226px;
    height: 231px;
    border-radius: 50px 0px 0px 0px;
    right: -8%;
    bottom: 30%;

    @include lg-mobile {
      right: -3%;
      bottom: 33%;
      width: 126px;
      height: 131px;
    }
  }

  &::after {
    width: 443px;
    height: 226px;
    border-radius: 50px 150px 0px 0px;
    right: -16%;
    bottom: 20%;

    @include tablet {
      width: 243px;
      height: 126px;
      bottom: 11%;
    }

    @include lg-mobile {
      bottom: 19%;
    }
  }
}

.hero-img {
  max-width: 551px;
  object-fit: cover;
  margin-right: -70px;

  @include laptop {
    max-width: 450px;
  }

  @include lg-tablet {
    max-width: 320px;
  }

  @include tablet {
    display: block;
    max-width: 480px;
    width: 100%;
    height: 100%;
    margin: -10% -30% 0 0;
  }

  @include lg-mobile {
    max-width: 260px;
  }

  @include mobile {
    max-width: 200px;
    margin-top: 0;
  }
}

.hero-content {
  max-width: 710px;
  position: relative;

  @include laptop {
    max-width: 550px;
  }

  @include lg-tablet {
    max-width: 450px;
  }

  @include tablet {
    max-width: 550px;
  }

  @include lg-mobile {
    max-width: 420px;
  }

  @include mobile {
    max-width: 285px;
  }

  & p {
    margin-bottom: 50px;

    @include laptop {
      font-size: 22px;
    }

    @include lg-mobile {
      font-size: 15px;
      margin-bottom: 15px;
    }

    @include mobile {
      font-size: 13px;
    }
  }
}

.hero-title {
  @include section-title($main-blue-color, 128px);
  line-height: 1;
  margin-top: 100px;
  margin-bottom: 20px;

  @include laptop {
    font-size: 104px;
    margin-top: 50px;
  }

  @include tablet {
    font-size: 88px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  @include lg-mobile {
    font-size: 64px;
    margin-top: 0px;
  }

  @include mobile {
    font-size: 40px;
    margin-top: -10px;
  }
}

.button-speak {
  display: block;
  width: 365px;
  font-size: 30px;
  background-color: $main-blue-color;
  color: $white-color;
  padding: 15px 21px;
  border-radius: $border-radius;
  transition: $transition;
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 4px 4px 0px $hover-button-color;
    outline: none;
  }

  @include lg-tablet {
    width: 290px;
    font-size: 22px;
  }

  @include lg-mobile {
    width: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: $border-radius-mobile;
  }

  @include mobile {
    width: 171px;
    font-size: 14px;
  }
}

.socials {
  @include flex(20px);
  margin-top: 20px;
  max-width: 160px;

  @include lg-mobile {
    margin-left: -23px;
  }

  @include mobile {
    margin-left: -30px;
    margin-top: 0;
  }

  & a {
    display: block;
  }

  .icon {
    fill: $accent-color;
    stroke: $background-color;
    transition: $transition;

    &:hover,
    &:active {
      fill: $hover-accent-color;
    }
  }

  @include lg-mobile {
    transform: scale(0.7);
  }

  @include mobile {
    transform: scale(0.63);
  }
}

// STARS SVG

.little-blue-star1 {
  @include star(35px, -10px);

  @include tablet {
    left: 54%;
    top: -8%;
    @include starAnimationMobile(8s);
    transform: scale(0.7);
  }

  @include lg-mobile {
    left: 127px;
    top: -65px;
  }

  @include mobile {
    left: 87px;
    top: -65px;
  }
}

.little-blue-star2 {
  @include star(315px, 55px);
  @include starAnimation(4s);

  @include laptop {
    top: 0;
  }

  @include lg-tablet {
    left: 80%;
    top: 5%;
  }

  @include tablet {
    left: 71%;
    top: 0%;
    @include starAnimationMobile(8s);
    transform: scale(0.7);
  }

  @include lg-mobile {
    left: 215px;
    top: -24px;
  }

  @include mobile {
    left: 175px;
    top: -24px;
  }
}

.little-blue-star3 {
  @include star(780px, -25px);

  @include lg-tablet {
    display: none;
  }

  @include tablet {
    display: block;
    left: 85%;
    top: 35%;
    @include starAnimationMobile(8s);
    transform: scale(0.7);
  }

  @include mobile {
    left: 90%;
    top: 27%;
  }
}

.little-blue-star4 {
  @include star(715px, 240px);
  @include starAnimation;

  @include desktop {
    display: none;
  }

  @include tablet {
    display: block;
    @include star(16%, 50%, $hover-button-color, 1);
    @include starAnimationMobile(8s);
    transform: scale(0.7);
  }

  @include mobile {
    left: 10%;
    top: 46%;
  }
}

.little-blue-star5 {
  @include star(480px, 440px);

  @include laptop {
    left: 480px;
    top: 380px;
  }

  @include lg-tablet {
    display: none;
  }

  @include tablet {
    display: block;
    @include star(26%, 53%, $hover-button-color, 1);
    transform: scale(0.7);
  }

  @include mobile {
    left: 22%;
    top: 51%;
    transform: scale(0.5);
  }
}

.little-blue-star6 {
  @include star(530px, 590px);
  @include starAnimation(5s);

  @include laptop {
    left: 530px;
    top: 500px;
  }

  @include lg-tablet {
    left: 50%;
    top: 85%;
  }

  @include tablet {
    left: 10%;
    top: 85%;
    fill-opacity: 1;
    @include starAnimationMobile(8s);
    transform: scale(0.7);
  }

  @include lg-mobile {
    top: 80%;
  }
}

.little-blue-star7 {
  @include star(830px, 605px);

  @include laptop {
    left: 830px;
    top: 520px;
  }

  @include lg-tablet {
    left: 80%;
    top: 90%;
  }

  @include tablet {
    left: 55%;
    top: 95%;
    fill-opacity: 1;
    transform: scale(0.7);
  }

  @include lg-mobile {
    left: 50%;
    top: 87%;
    transform: scale(0.5);
  }
}

.little-blue-star20 {
  display: none;

  @include lg-tablet {
    display: block;
    @include star(30%, 2%, $hover-button-color, 1);
    @include starAnimationMobile;
    transform: scale(0.7);
  }

  @include tablet {
     left: 99%;
    top: 52%;
   }

  @include lg-mobile {
    left: 95%;
    top: 49%;
  }
}

.little-blue-star21 {
  display: none;

  @include lg-tablet {
    display: block;
    @include star(99%, 84%, $hover-button-color, 1);
    @include starAnimationMobile(4s);
    transform: scale(0.7);
  }

  @include lg-mobile {
    left: 95%;
  }

  @include mobile {
    top: 78%;
  }
}

.big-blue-star {
  @include star(92%, 80%);
  &:hover {
    transform: scale(1.1);
  }

  @include laptop {
    display: none;
  }

  @include tablet {
    display: block;
    left: 55%;
    top: -8%;
    transform: scale(0.5);
    fill-opacity: 1;
  }

  @include lg-mobile {
    left: 130px;
    top: -87px;
    transform: scale(0.4);
  }

  @include mobile {
    left: 90px;
    top: -87px;
  }
}

.svg-text {
  position: absolute;
  right: 28%;
  top: 22%;
  overflow: visible;

  @include desktop {
    right: 14%;
  }

  @include laptop {
    transform: scale(0.8);
    right: 12%;
    top: 12%;
  }

  @include lg-tablet {
    right: -12%;
    top: -5%;
  }

  @include tablet {
    right: 80%;
    top: 140%;
    transform: scale(0.7) rotate(-25deg);
  }

  @include lg-mobile {
    right: 75%;
    transform: scale(0.5) rotate(-25deg);
  }

  @include mobile {
    right: 70%;
    transform: scale(0.4) rotate(-25deg);
  }
}
