@import "../base/vars";
@import "../base/mixin";

.join-title-wrapper{
  position: relative;
}

.join-title {
  @include section-title;
  margin-bottom: 50px;
  
}

.middle-blue-star4{
 @include star(395px, 54px, $dark-blue-color, 1);
  @include starAnimation(8s);
}

.decor{
  position: absolute;
  top: 75px;
  right: -20px;
  width: 855px;
  height: 60px;
  border-top: 1px solid $main-blue-color;
  border-right: 1px solid $main-blue-color;
}

.dot-decor{
  position: absolute;
  top: 130px;
  right: -22px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $main-blue-color;
}

.swiper {
  width: 1310px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-left: -18px;
}

.swiper-wrapper {
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  @include flex;
  flex-direction: column;
  justify-content: center;
  width: 385px !important;
  height: 378px;
  padding: 50px auto;
  text-align: center;
  color: $white-color;
  border-radius: $border-radius;
  background: rgb(242, 193, 129);
  box-shadow: 0px 4px 4px 0px rgba(242, 197, 139, 0.3);
  cursor: pointer;
  &:hover{
    background: $accent-color;

  }
 }

.swiper-slide-active {
  width: 465px !important;
  height: 442px;
  position: relative;
  bottom: 20px;
  border-radius: $border-radius;
  background: $accent-color;
  box-shadow: 0px 4px 4px 0px rgba(240, 187, 117, 0.3);
  transition: background-color 1s, width 0.5s, height 0.5s;

}

.swiper-slide-prev, .swiper-slide-next{
  font-size: 30px;
}

.swiper-pagination {
  bottom: 0px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: $dark-blue-color;
}

.slide-title {
 
  font-size: 32px;
  font-weight: 500;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slide-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 1px;
  background-color: $white-color;
}

.swiper-slide-prev .slide-title, .swiper-slide-next .slide-title{
  font-size: 30px;
   width: 385px;
}

.swiper-slide-active .slide-title{
  font-size: 32px;
   width: 420px;
}

.slide-text {
   font-size: 26px;
  max-width: 350px;
}

.text2 {
  max-width: 257px;
}

.slide-text-email {
  max-width: 350px;
  font-weight: 600;
  margin: 20px 0 20px 0;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
  font-size: 26px;
}

.swiper-slide-next .slide-text-email,
.swiper-slide-prev .slide-text-email {
  margin: 10px 0 10px 0;
  max-width: 350px;
}

.swiper-slide-active .slide-text-email {
   max-width: 420px;
}

.slide-button {
  @include flex;
  justify-content: center;
  width: 306px;
  height: 65px;
  margin-top: 30px;
  font-size: 30px;
  color: $main-blue-color;
  background-color: $white-color;
  border-radius: $border-radius;
  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.email-svg {
  fill: $white-color;
  transition: $transition;
  &:hover {
    fill: $hover-button-blue-color;
  }
}

