@import "../base/vars";
@import "../base/mixin";

.join {
  max-width: 1440px;
  margin: 100px auto;
  padding: 0px 90px;
  border: 1px solid rgb(209, 208, 208);
}

.join-title-wrapper{
  position: relative;
}

.join-title {
  @include section-title;
  margin-bottom: 50px;
  
}

.middle-blue-star4{
 @include star(395px, 54px, $dark-blue-color, 1);
}

.decor{
  position: absolute;
  top: 75px;
  right: -30px;
  width: 850px;
  height: 60px;
  border-top: 1px solid $main-blue-color;
  border-right: 1px solid $main-blue-color;
  border-bottom: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.dot-decor{
  position: absolute;
  top: 130px;
  right: -33px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $main-blue-color;
}

.swiper {
  width: 1209px;
  height: 500px;
  display: flex;
  justify-content: center;
  user-select: none;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  @include flex;
  flex-direction: column;
  justify-content: center;
  width: 381px;
  height: 378px;
  border-radius: $border-radius;
  background: rgb(242, 193, 129);
  box-shadow: 0px 4px 4px 0px rgba(242, 197, 139, 0.3);
  padding: 50px 16px 30px;
  text-align: center;
  color: $white-color;
   
}

.swiper-slide-next,
.swiper-slide-prev {
  width: 381px !important;
}

.swiper-slide-next {
  margin-right: 0px !important;
}

.swiper-slide-active {
  width: 465px !important;
  height: 442px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  bottom: 20px;
  border-radius: $border-radius;
  background: $accent-color;
  box-shadow: 0px 4px 4px 0px rgba(240, 187, 117, 0.3);
  // transition: all .8s ease;
}

.swiper-pagination {
  bottom: 0px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: $dark-blue-color;
}

.slide-title {
  width: 389px;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}

.swiper-slide-next .title1,
.swiper-slide-prev .title1 {
  font-size: 30px;
}


.swiper-slide-next .slide-title {
  margin-left: -20px;
}

.slide-title::after {
  content: "";
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 1px;
  background-color: $white-color;
}

.slide-text {
  margin: 0 auto;
  font-size: 26px;
}

.text2 {
  max-width: 257px;
}

.slide-text-email {
  font-weight: 600;
  margin: 30px 0 30px 0;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
  font-size: 26px;
}

.swiper-slide-next .slide-text-email,
.swiper-slide-prev .slide-text-email {
  margin: 10px 0 10px 0;
}

.slide-button {
  @include flex;
  justify-content: center;
  width: 306px;
  height: 65px;
  margin-top: 30px;
  font-size: 30px;
  color: $main-blue-color;
  background-color: $white-color;
  border-radius: $border-radius;
  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.email-svg {
  fill: $white-color;
  &:hover {
    fill: $hover-button-blue-color;
  }
}

