@import "../base/vars";
@import "../base/mixin";


.meetings-title {
  @include section-title($accent-color, 64px);
  text-align: center;
  margin-bottom: 20px;
}

.meetings-content {
  @include flex(145px);
  
}

.meetings-item {
 @include flex;
 flex-direction: column;
 transition: $transition;

 & p{
  text-align: center;
 }

 &:hover{
  transform: scale(1.05);
 }
}

.meetings-img-wrapper1, .meetings-img-wrapper2{
  position: relative;
}

.article-title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.middle-blue-star2{
  @include star(20px, 28px, $dark-blue-color, 1);
   
}

.middle-blue-star3{
  @include star(400px, 210px, $dark-blue-color, 1);
   @include starAnimation(7s);
}
