@import "../base/vars";
@import "../base/mixin";

.psychologists {
  padding-top: 55px;
  padding-bottom: 37px;
  background-color: $blue-color;
  background-image: url(../../img/psychologists/psychologists-bgr.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: $border-radius;

  @include tablet {
    background-image: url(../../img/psychologists/psychologists-bgr_mob.webp);
    background-position: left;
    border-radius: $border-radius-mobile;
    padding: 27px 10px 37px;
  }

   @include mobile {
    padding: 27px 0px 17px;
       
  }
}
.psychologists-header {
  @include flex(120px);
  max-width: 100%;
  justify-content: start;
  margin-bottom: 35px;
  position: relative;

  @include laptop {
    justify-content: space-evenly;
  }

  @media (max-width: 1044.98px) {
    gap: 90px;
  }

    @include tablet {
    gap: 12px;
    justify-content: space-between;
  }

  @include lg-mobile {
   margin-bottom: 20px;
      }

       @include mobile {
        min-width: 102%;
    margin-left:-4px;
     margin-right:-4px;
     }

  &::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: -9%;
    width: 50%;
    height: 1px;
    background-color: $white-color;

    @media (max-width: 1339.98px) {
      width: 43%;
    }

    @include laptop {
      width: 50%;
      left: -11%;
    }

    @media (max-width: 1044.98px) {
      left: -15%;
    }

    @media (max-width: 869.98px) {
      width: 38%;
    }

    @include tablet {
      width: 140%;
    }
  }
}
.psychologists-img1,
.psychologists-img2 {
  display: block;
  max-width: 245px;
  width: 20%;
  height: auto;
  object-fit: cover;
  margin-bottom: -13px;

  @media (max-width: 1339.98px) {
    width: 16%;
    margin-bottom: -38px;
  }

  @include laptop {
    margin-bottom: -20px;
  }

  @media (max-width: 1044.98px) {
    margin-bottom: -30px;
  }

  @media (max-width: 909.98px) {
    margin-bottom: -38px;
  }

  @include tablet {
    margin-bottom: -18px;
  }

  @include lg-mobile {
    margin-bottom: -4px;
    width: 20%;
  }

   @include mobile {
   
     margin-bottom: -4px;
    width: 19%;
  }

  @media (max-width: 344.98px) {
    margin-bottom: -8px;
  }

}

.psychologists-img1 {
  @include tablet {
    order: 1;
  }
}

.psychologists-img2 {
  margin-left: -120px;

  @include laptop {
    margin-left: -14%;
  }

  @media (max-width: 869.98px) {
    display: none;
  }

  @include tablet {
    display: block;
    order: 3;
    margin-left: 0;
  }
}

.psychologists-title-wrapper {
  position: relative;
  align-self: start;
  @include tablet {
    order: 2;
  }
}

.psychologists-title {
  @include section-title($white-color);
}

.svg-ps-text {
  position: absolute;
  left: -100px;
  top: -20px;
  @include laptop {
    transform: scale(0.8);
    left: -81px;
    top: -33px;
  }

  @include tablet {
    display: none;
  }
}

.psychologists-advantages {
  color: $white-color;
  padding-left: 30px;

  @include tablet {
    padding: 0 30px 0 60px;
  }

  @include lg-mobile {
    padding: 0 20px 0 40px;
  }

  & li {
    padding-bottom: 5px;
  }
}

.psychologists-button-wrapper {
  position: relative;
  margin: 43px auto 0px;
  max-width: 365px;

  @include lg-tablet {
    max-width: 290px;
  }

  @include lg-mobile {
    max-width: 200px;
    margin-top: 30px;
  }

  @include mobile {
    max-width: 160px;
    margin-top: 20px;
  }

  .button-psychologists-section {
    display: flex;
    justify-content: center;
    text-transform: none;
    padding: 14px 78px;
    font-size: 30px;
    font-weight: 400;
    z-index: 3;
    position: relative;

    @include lg-tablet {
      padding: 14px 58px;
      font-size: 22px;
    }

    @include lg-mobile {
      padding: 12px 48px;
      font-size: 16px;
    }
    @include mobile {
      padding: 10px 31px;
      font-size: 14px;
    }
  }
  .psychologists-decor {
    position: absolute;
    top: -13px;
    left: 7px;
    width: 345px;
    height: 91px;
    border: 1px solid rgba($white-color, 0.5);
    border-radius: 50%;
    transform: rotate(-8deg);
    z-index: 2;

    @include lg-tablet {
      width: 290px;
      height: 74px;
      top: -12px;
      left: -1px;
    }

    @include lg-mobile {
      width: 200px;
      height: 55px;
      top: -8px;
      left: -1px;
    }

    @include mobile {
      display: none;
    }
  }
}
