@import "../base/vars";
@import "../base/mixin";

.reviews {
  padding: 0;
}
.reviews-title {
  @include section-title;
  margin-left: 90px;
}
.swiper.swiper-reviews {
  margin: 0;
  margin-top: 50px;
  width: 1443px;
  height: 480px;
  display: flex;
  justify-content: space-between;
}
.swiper-reviews .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-swiper-slide-wrapper {
  height: 346px;
  border: 1px solid $white-color;
  border-radius: 20px;
  padding: 30px 10px;
  color: $white-color;
}

.swiper-slide .reviews-slide1,
.swiper-slide .reviews-slide2,
.swiper-slide .reviews-slide3,
.swiper-slide .reviews-slide4,
.swiper-slide .reviews-slide5 {
  padding: 20px 9px;
  background-color: $blue-color;
  border-radius: 20px;
  position: relative;
  width: 465px;
  cursor: grab;
  &:active{
    cursor: grabbing;
  }

  &::after {
    content: "";
    background: url(../../img/Polygon.svg) no-repeat;
    bottom: -65px;
    left: 40px;
    width: 90px;
    height: 89px;
    position: absolute;
    z-index: -1;
  }
}

.swiper-slide .reviews-slide1 {
  &::before {
    content: "";
    background: url(../../img/rev-slide1.svg) no-repeat;
    bottom: 25px;
    right: 45px;
    width: 117px;
    height: 115px;
    position: absolute;
    animation: rotateEl 25s linear infinite;

     @keyframes rotateEl {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg); 
    }
    100% {
      transform: rotate(360deg);  
    }
  }
  }
}

.swiper-slide .reviews-slide2, .swiper-slide .reviews-slide5{
  &::before {
    content: "";
    background: url(../../img/rev-slide2.png) no-repeat;
    bottom: -11px;
    right: 25px;
    width: 145px;
    height: 100px;
    position: absolute;
  }

  &-decor1,
  &-decor2 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: $white-color;
    filter: blur(8px);
    border-radius: $border-radius;
  }

  &-decor1 {
    bottom: 70px;
    right: 135px;
  }

  &-decor2 {
    bottom: 70px;
    right: 50px;
  }
}

// slide 2

.superMicroStar1 {
  @include star(65px, 315px, $white-color, 1);
  @include starAnimation(4s);
}

.superMicroStar2 {
  @include star(135px, 300px, $white-color, 1);
  @include starAnimation;
}
.superMicroStar3 {
  @include star(180px, 265px, $white-color, 1);
  @include starAnimation(8s);
}

.superMicroStar4 {
  @include star(225px, 300px, $white-color, 1);
  @include starAnimation;
}

// slide 3

.superMicroStar5 {
  @include star(320px, 290px, $white-color, 1);
  @include starAnimation;
}
.superMicroStar6 {
  @include star(325px, 315px, $white-color, 1);
  @include starAnimation;
}
.superMicroStar7 {
  @include star(350px, 285px, $white-color, 1);
  @include starAnimation(8s);
}

.middle-blue-star13{
  @include star(345px, 310px, $white-color, 1);
}

.little-white-star5{
  @include star(325px, 340px, $white-color, 1);
}

// slide 4

.superMicroStar8 {
  @include star(30px, 365px, $white-color, 1);
  @include starAnimation(4s);
}

.superMicroStar9 {
  @include star(45px, 345px, $white-color, 1);
  @include starAnimation;
}

.superMicroStar10 {
  @include star(70px, 338px, $white-color, 1);
  @include starAnimation(8s);
}

.superMicroStar11 {
  @include star(95px, 355px, $white-color, 1);
  @include starAnimation;
}

.star-text-reviews{
  position: absolute;
  bottom: 35px;
  right: 40px;
}


// slide 5

.superMicroStar12 {
  @include star(318px, 302px, $white-color, 1);
  @include starAnimation(4s);
}

.superMicroStar13 {
  @include star(404px, 301px, $white-color, 1);
  @include starAnimation;
}
