@import "../base/vars";
@import "../base/mixin";

*,
svg,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: light;
    background-color: $background-color;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;

  @include laptop {
    scroll-padding-top: 30px;
  }

  @include lg-mobile {
    scroll-padding-top: 20px;
  }

  @include mobile {
    scroll-padding-top: 15px;
  }
}

body {
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
  // font-family: 'Amatic SC', sans-serif;
  font-size: 26px;
  color: $main-blue-color;
  line-height: normal;
  max-width: 1440px;
  margin: 0 auto;

  @include laptop {
    font-size: 22px;
  }

  @include lg-mobile {
    font-size: 15px;
  }

  @include mobile {
    font-size: 13px;
  }

  &.lock {
    overflow: hidden;
  }
}

main,
header,
footer {
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
}

header {
  padding: 0px 50px;
  @include lg-mobile {
    padding: 0px 20px;
  }
}

footer {
  margin-bottom: 200px;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0px 90px;

  @include lg-tablet {
    margin-top: 70px;
    padding: 0px 50px;
  }

  @include tablet {
    margin-top: 50px;
    padding: 0px 40px;
  }

  @include lg-mobile {
    margin-top: 40px;
    padding: 0px 30px;
  }

  @include mobile {
    margin-top: 50px;
    padding: 0px 20px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

address {
  font-style: normal;
}

::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track {
  background: $background-color;
  box-shadow: 0px 1px 15px $hover-button-blue-color inset;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    $hover-button-blue-color,
    $hover-button-color
  );
  border-radius: 5px;
  border: 1px solid $hover-button-blue-color;

  &:hover {
    background: linear-gradient(to bottom, $blue-color, $hover-accent-color);
  }
}

::-webkit-scrollbar-button:start:decrement {
  background: $hover-button-blue-color url(../../img/Scrollbar-star.svg)
    no-repeat center;
  border-radius: 2px;
  &:hover {
    background-color: $blue-color;
  }
}

::-webkit-scrollbar-button:end:increment {
  background: $hover-button-color url(../../img/Scrollbar-star.svg) no-repeat
    center;
  border-radius: 2px;

  &:hover {
    background-color: $hover-accent-color;
  }
}
