@import "../base/vars";
@import "../base/mixin";

*,
svg,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
  // font-family: 'Amatic SC', sans-serif;
  font-size: 26px;
  color: $main-blue-color;
  line-height: normal;
  overflow-x: hidden;
}

main,
header,
footer {
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  
}

footer{
  margin-bottom: 200px;
}

section{
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0px 90px;
  // border: 1px solid rgb(209, 208, 208);
  
}

// ul,
// li {
//   list-style: none;
// }

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

::-webkit-scrollbar{
  width: 30px;
}
::-webkit-scrollbar-track{
  background: #fbf6f6;
  box-shadow: 0px 1px 15px #97c2f0 inset;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb{
  
  background: linear-gradient(to bottom, #97c2f0, #FFD497);
  border-radius: 8px;
  border: 1px solid #FBB14E;
  
  &:hover{
    background:linear-gradient(to bottom,#3A98FF, #FBB14E);
  }
 }

::-webkit-scrollbar-button:start:decrement {
  background: #97c2f0 url(../../img/Scrollbar-star.svg) no-repeat center; 
  // box-shadow: 0px 1px 15px #3A98FF inset;
  border-radius: 5px;
}

::-webkit-scrollbar-button:end:increment {
  background: #FFD497 url(../../img/Scrollbar-star.svg) no-repeat center;
  // box-shadow: 0px 1px 15px #FBB14E inset;
  border-radius: 5px;

  &:hover{
    background-color: #FBB14E;
  }
}


// main {
//   max-width: 1440px;
//   margin: 0 auto;

//   border: 1px solid rgb(208, 208, 208);

// @include tablet {
//   padding: 0px 50px;
// }
// @include leptop {
//   padding: 0px 80px;
// }
// @include desktop {
//   padding: 0px 90px;
// }
// }

// footer{
//    margin-bottom: 100px;
// }


// width: 100%
// height: 100%
// object-fit: cover