@mixin desktop() {
  @media (min-width: $breakpoint_xxl) {
    @content;
  }
}

@mixin leptop() {
  @media (min-width: $breakpoint_xl) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $breakpoint_md) {
    @content;
  }
}

@mixin flex ($gap: 0) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}


@mixin blueStar ($left, $top){
  position: absolute;
  fill: #007AFF;
  fill-opacity: .6;
  left: $left;
  top: $top;
  transition: $transition;
  
  &:hover{
    transform: scale(1.4);
  }
}