// @mixin desktop() {
//   @media (max-width: $breakpoint_xxl) {
//     @content;
//   }
// }

// @mixin leptop() {
//   @media (max-width: $breakpoint_xl) {
//     @content;
//   }
// }

// @mixin tablet() {
//   @media (min-width: $breakpoint_md) {
//     @content;
//   }
// }

@mixin flex ($gap: 0) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin section-title($color: $main-blue-color, $fsize: 96px){
font-family: 'Amatic SC', sans-serif;
font-size: $fsize;
font-weight: 700;
color: $color;
}



@mixin star ($left, $top, $fill: $main-blue-color, $fill-opasity: .6){
  position: absolute;
  fill: $fill;
  fill-opacity: $fill-opasity;
  left: $left;
  top: $top;
  transition: $transition;
  
  &:hover{
    transform: scale(1.4);
  }
}
