
$breakpoint_xxl: 1400px;
$breakpoint_xl: 1024px;
$breakpoint_md: 768px;



$main-blue-color: #007AFF;
$blue-color: #3A98FF;
$dark-blue-color:#0C6CD5;
$accent-color: #F0BB75;
$hover-accent-color: #FBB14E;
$hover-button-color: #FFD497;
$hover-button-blue-color: #97c2f0;
$white-color: #fff;
$background-color: #fbf6f6;


$border-radius: 14px;
$transition: 0.3s ease-in;
