$main-blue-color: #007aff;
$blue-color: #3a98ff;
$dark-blue-color: #0c6cd5;
$accent-color: #f0bb75;
$hover-accent-color: #fbb14e;
$hover-button-color: #ffd497;
$decor-color: #f4aa41;
$blur-color: #fda11f;
$hover-button-blue-color: #97c2f0;
$white-color: #fff;
$background-color: #fbf6f6;

$border-radius: 14px;
$border-radius-mobile: 8px;
$transition: 0.3s ease-in;
