*,
svg,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: light;
    background-color: #fbf6f6;
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
@media (max-width: 1199.98px) {
  html {
    scroll-padding-top: 30px;
  }
}
@media (max-width: 575.98px) {
  html {
    scroll-padding-top: 20px;
  }
}
@media (max-width: 390px) {
  html {
    scroll-padding-top: 15px;
  }
}

body {
  background-color: #fbf6f6;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: #007AFF;
  line-height: normal;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  body {
    font-size: 22px;
  }
}
@media (max-width: 575.98px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 390px) {
  body {
    font-size: 13px;
  }
}
body.lock {
  overflow: hidden;
}

main,
header,
footer {
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
}

header {
  padding: 0px 50px;
}
@media (max-width: 575.98px) {
  header {
    padding: 0px 20px;
  }
}

footer {
  margin-bottom: 200px;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0px 90px;
}
@media (max-width: 991.98px) {
  section {
    margin-top: 70px;
    padding: 0px 50px;
  }
}
@media (max-width: 767.98px) {
  section {
    margin-top: 50px;
    padding: 0px 40px;
  }
}
@media (max-width: 575.98px) {
  section {
    margin-top: 40px;
    padding: 0px 30px;
  }
}
@media (max-width: 390px) {
  section {
    margin-top: 50px;
    padding: 0px 20px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

address {
  font-style: normal;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: #fbf6f6;
  box-shadow: 0px 1px 15px #97c2f0 inset;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #97c2f0, #FFD497);
  border-radius: 5px;
  border: 1px solid #97c2f0;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #3A98FF, #FBB14E);
}

::-webkit-scrollbar-button:start:decrement {
  background: #97c2f0 url(../../img/Scrollbar-star.svg) no-repeat center;
  border-radius: 2px;
}
::-webkit-scrollbar-button:start:decrement:hover {
  background-color: #3A98FF;
}

::-webkit-scrollbar-button:end:increment {
  background: #FFD497 url(../../img/Scrollbar-star.svg) no-repeat center;
  border-radius: 2px;
}
::-webkit-scrollbar-button:end:increment:hover {
  background-color: #FBB14E;
}